<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<script src="https://kit.fontawesome.com/4ebf33f6f9.js" crossorigin="anonymous"></script>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li>
              <a class="nav-link text-light href="/_">
              </a>
         
         </li>
          
          <li>
              
          </li>
          
          <li>
              
          </li>
          
          <li>
    
          </li>
  </nav>          
</header>
<div>
  <h1>welcome to <i class="fas fa-book" aria-hidden="true"></i><strong>Bookers</strong>  !!</h1>
  <p>In  <i class="fas fa-book" aria-hidden="true"> </i><strong>Bookers</strong>, </p>
  <p>you can share and exchange  your opinions , inpressions , and emotions</p>
  <p> about various books!</p>
  <div>
    <div><%= link_to "Log in", new_user_session_path %></div>
    <div><%= link_to "Sign up", new_user_registration_path %></div>
  </div>
</div>